<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CustomHttpModule" type="Custom.ServerModules.CustomHttpModule"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        
        <!-- Sample rules -->
        <rule name="ReverseProxyPublicUrl" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www.public.url"/>
          </conditions>
          <action type="Rewrite" url="http://internal.url/{R:1}"/>
          <serverVariables>
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!-- /Sample rule -->
        
      </rules>
    </rewrite>
  </system.webServer>
</configuration>